header{
    color: #acb0ad !important;
    border: none;
    background: rgba(0,0,0,0) !important;
}

.logo{
    color: #acb0ad !important;
}

.header-home-btn{
    background:rgba(0,0,0,0) !important;
    color: #acb0ad !important
}